@using BlazorWasm.WeatherApp.Models;
@if (Data is not null)
{
    int counter = 0;

    <h2 class="title-2">Today at</h2>

    <div class="slider-container">
        <ul class="slider-list" data-temp>
            @foreach (var item in Data.list)
            {
                if (counter < 7)
                {
                    IEnumerable<string> EnumIcon = item.weather.Select(x => x.icon);
                    IEnumerable<string> EnumDescription = item.weather.Select(x => x.description);
                    string icon = string.Join("", EnumIcon);
                    string description = string.Join("", EnumDescription);


                    DateTime datetime = DateTimeOffset.FromUnixTimeSeconds(item.dt).LocalDateTime;
                    <li class="slider-item">
                        <div class="card card-sm slider-card">
                            <p class="body-3">@datetime.ToString("hh tt")</p>
                            <img src="assets/images/weather_icons/@(icon).png" width="48" height="48"
                                 loading="lazy" alt="@(description)"
                                 class="weather-icon" title="@(description)">
                            <p class="body-3">@(item.main.temp)&deg;</p>
                        </div>
                    </li>
                }
                counter++;
            }
            @{
                counter = 0;
            }
        </ul>
        <ul class="slider-list" data-wind>
            @foreach (var item in Data.list)
            {
                if (counter < 7)
                {
                    int WindDirection = item.wind.deg - 180;
                    double WindSpeed = item.wind.speed;
                    DateTime datetime = DateTimeOffset.FromUnixTimeSeconds(item.dt).LocalDateTime;
                    <li class="slider-item">
                        <div class="card card-sm slider-card">
                            <p class="body-3">@datetime.ToString("hh tt")</p>
                            <img src="assets/images/weather_icons/direction.png" width="48" height="48"
                                 loading="lazy" alt="direction"
                                 class="weather-icon" style="transform: rotate(@(WindDirection)deg);">
                            <p class="body-3">@(Convert.ToInt32(WindSpeed * 3.6)) km/h</p>
                        </div>
                    </li>
                }
                counter++;
            }
        </ul>
    </div>
}

@code {
    [Parameter]
    public TodayForecast? Data { get; set; }
}
