@using BlazorWasm.WeatherApp.Models;
@if (Data is not null && CWeatherData is not null)
{
    <div class="card card-lg">
        <h2 class="title-2" id="highlights-label">Todays Highlights</h2>

        <div class="highlight-list">

            <div class="card card-sm highlight-card one">

                <h3 class="title-3">Air Quality Index</h3>

                <div class="wrapper">

                    <span class="m-icon">air</span>

                    <ul class="card-list">
                        @foreach (var item in Data.list)
                        {
                            PM = item.components.pm2_5;
                            NO2 = item.components.no2;
                            O3 = item.components.o3;
                            SO2 = item.components.so2;
                            AQI = item.main.aqi;
                        }
                        <li class="card-item">
                            <p class="title-1">@PM</p>

                            <p class="label-1">PM<sub>2.5</sub></p>
                        </li>

                        <li class="card-item">
                            <p class="title-1">@SO2</p>

                            <p class="label-1">SO<sub>2</sub></p>
                        </li>

                        <li class="card-item">
                            <p class="title-1">@NO2</p>

                            <p class="label-1">NO<sub>2</sub></p>
                        </li>

                        <li class="card-item">
                            <p class="title-1">@O3</p>

                            <p class="label-1">O<sub>3</sub></p>
                        </li>

                    </ul>

                </div>
                @{
                    var aqi = aqiTextService.GetAqiText(AQI.ToString());
                    DateTime sunrise = DateTimeOffset.FromUnixTimeSeconds(CWeatherData.sys.sunrise).LocalDateTime;
                    DateTime sunset = DateTimeOffset.FromUnixTimeSeconds(CWeatherData.sys.sunset).LocalDateTime;
                    //DateTime sunrise = CWeatherData.sys.sunrise.GetUtcDateTime(CWeatherData.timezone);
                    //DateTime sunset = CWeatherData.sys.sunset.GetUtcDateTime(CWeatherData.timezone);
                }
                <span class="badge aqi-@AQI label-@AQI" title="@aqi.message">
                    @aqi.level
                </span>

            </div>

            <div class="card card-sm highlight-card two">

                <h3 class="title-3">Sunrise & Sunset</h3>

                <div class="card-list">

                    <div class="card-item">
                        <span class="m-icon">clear_day</span>

                        <div>
                            <p class="label-1">Sunrise</p>

                            <p class="title-1">@(sunrise.ToString("hh:mm tt"))</p>
                        </div>
                    </div>

                    <div class="card-item">
                        <span class="m-icon">clear_night</span>

                        <div>
                            <p class="label-1">Sunset</p>

                            <p class="title-1">@(sunset.ToString("hh:mm tt"))</p>
                        </div>
                    </div>

                </div>

            </div>

            <div class="card card-sm highlight-card">

                <h3 class="title-3">Humidity</h3>

                <div class="wrapper">
                    <span class="m-icon">humidity_percentage</span>

                    <p class="title-1">@CWeatherData.main.humidity<sub>%</sub></p>
                </div>

            </div>

            <div class="card card-sm highlight-card">

                <h3 class="title-3">Pressure</h3>

                <div class="wrapper">
                    <span class="m-icon">airwave</span>

                    <p class="title-1">@CWeatherData.main.pressure<sub>hPa</sub></p>
                </div>

            </div>

            <div class="card card-sm highlight-card">

                <h3 class="title-3">Visibility</h3>

                <div class="wrapper">
                    <span class="m-icon">visibility</span>

                    <p class="title-1">@(CWeatherData.visibility / 1000)<sub>km</sub></p>
                </div>

            </div>

            <div class="card card-sm highlight-card">

                <h3 class="title-3">Feels Like</h3>

                <div class="wrapper">
                    <span class="m-icon">thermostat</span>

                    <p class="title-1">@(Convert.ToInt32(CWeatherData.main.feels_like))&deg;<sup>c</sup></p>
                </div>

            </div>

        </div>
    </div>
}

@code {
    [Parameter]
    public TodayHightlights? Data { get; set; }

    [Parameter]
    public CurrentWeather? CWeatherData { get; set; }

    public double PM { get; set; }
    public double SO2 { get; set; }
    public double NO2 { get; set; }
    public double O3 { get; set; }
    public int AQI { get; set; }
}